<mat-expansion-panel class="main">
  <mat-expansion-panel-header>
    <mat-panel-title class="title">{{ list.title }}</mat-panel-title>
  </mat-expansion-panel-header>
  <div
    class="content"
    cdkDropList
    [cdkDropListData]="list.tasks"
    (cdkDropListDropped)="onDrop($event)"
  >
    <app-task-item
      *ngFor="let task of list.tasks"
      [task]="task"
      cdkDrag
    ></app-task-item>
  </div>
  <mat-action-row class="action">
    <mat-checkbox color="primary">Select List</mat-checkbox>
  </mat-action-row>
</mat-expansion-panel>
